[Unit]
Description=daphne daemon

[Service]
User=root
Group=root
WorkingDirectory=/opt/cccw-server

Environment="DJANGO_SETTINGS_MODULE=djangoProject.settings"
ExecStart=/opt/cccw-server/venv/bin/daphne -b 192.168.11.132 --verbosity 0 --access-log /var/log/daphne/daphne.log djangoProject.asgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true

[Install]
WantedBy=multi-user.target