[Unit]
Description=daphne daemon

[Service]
User=root
Group=root
WorkingDirectory=/opt/cccw-server

Environment="DJANGO_SETTINGS_MODULE=channels_test_project.settings"
ExecStart=/root/Env/24bot/bin/daphne --verbosity 0 --access-log /var/log/daphne/daphne.log djangoProject.asgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true

[Install]
WantedBy=multi-user.target